{% block Dnlod %}

<div class="py-5 bg-primary" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" id="Download">
    <div class="container">
      <div class="row">
        <div class="p-4 col-lg-8">
          <h4 class="mb-3 text-white">Download</h4>
          <div class="blockquote text-muted">
            <p class="mb-0">Blockquoute -&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <div class="blockquote-footer">Someone famous in My memories</div>
          </div>
          <a class="btn btn-info" href="#">Download Now</a>
        </div>
        <div class="col-md-4 align-self-center">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> </div>
      </div>
    </div>
  </div>

{% endblock %}