{% block Prods %}

<div class="py-5" id="Product">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12">
          <h1>Some of Products</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card bg-light">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8">
                  <h3 class="mb-0">Tamil keyboard label</h3>
                </div>
                <div class="col-4 text-right">
                  <h2 class="mb-0"> <b>$1</b> </h2>
                </div>
              </div>
              <p class="my-3">Simple and good product for you</p>
              <ul class="pl-3">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
              </ul> <a class="btn btn-primary mt-3" href="#">Get started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card bg-light">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8">
                  <h3 class="mb-0">Fantasia Mouse<br></h3>
                </div>
                <div class="col-4 text-right">
                  <h2 class="mb-0"> <b>$9</b> </h2>
                </div>
              </div>
              <p class="my-3">Side product for simple applications</p>
              <ul class="pl-3">
                <li>Four</li>
                <li>Five</li>
                <li>Six</li>
              </ul> <a class="btn btn-primary mt-3" href="#">Get started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3">
          <div class="card bg-light">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8">
                  <h3 class="mb-0">Victorian Keyboard</h3>
                </div>
                <div class="col-4 text-right">
                  <h2 class="mb-0"> <b>$18</b> </h2>
                </div>
              </div>
              <p class="my-3">Our main product for you</p>
              <ul class="pl-3">
                <li>Seven</li>
                <li>Eight</li>
                <li>Nine</li>
              </ul> <a class="btn btn-primary mt-3" href="#">Get started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}