<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>froshims0</title>
</head>
<body>
   <h1> Register for Frosh IMs</h1>
   <form action="/register" method="post">
       <input name="name" placeholder="Name" type="text">
       <select name="dorm">
           <option disabled selected value="">Dorm</option>
           <option value="Apley Court">Apley Court</option>
           <option value="Canaday">Canaday</option>
           <input type="submit" value="Register">
       </select>
   </form>
</body>
</html>